<header>
    <div class="desktop-logo">
        <a routerLink="/">
            <img src="rz_logo_L.png" alt="Avenue Manor Logo">
        </a>
        <h1>Avenue Manor</h1>
    </div>
    <nav>
        <a routerLink="/">Overview</a>
        <a routerLink="/gallery">Gallery</a>
        <a routerLink="/suites-and-rooms">Suites & Rooms</a>
        <a routerLink="/dining">Dining</a>
        <a routerLink="/contact">Contact</a>
    </nav>
    <div>
        <img src="" alt="">
        <span>+48 538-130-762</span>
    </div>
    <button routerLink="/booking">Reserve</button>
    <a routerLink="/auth/login">Login</a>
    <a routerLink="/auth/signup">Signup</a>
</header>