<header>
    <div class="desktop-logo" >
        <a href="/">
            <img src="rz_logo_L.png" alt="">
        </a>
        <h1>Avenue Manor</h1>
    </div>
    <nav>
        <a href="">Overview</a>
        <a href="/gallery">Gallery</a>
        <a href="/suites-and-rooms">Suites & Rooms</a>
        <a href="/dining">Dining</a>
        <a href="/contact">Contact</a>
    </nav>
    <div>
        <img src="" alt="">
        <span>+48 538-130-762</span>

    </div>
    <button>Reserve</button>
    <button>Make an account</button>
    <button>Login</button>
</header>


  