<section id="videoSection">
  <video autoplay muted loop id="myVideo">
      <source src="databaseVideo.mp4" type="video/mp4">
    </video>
    <img src="../assets/3b360279-8b43-40f3-9b11-604749128187.jpg" alt="">
    

    </section>
<section class="welc-section">
  <div class="welcome">
    <h4>Experience luxury at our hotel in Central Park</h4>
    <h2 class="text-center title"  >Welcome to The Ritz-Carlton </h2>
    <h3 class="text-center sub-title" >New York, Central Park</h3>
    <p class="text-black text-center p-4 ">
      The Ritz-Carlton New York, Central Park reimagines luxury in Midtown
      Manhattan, drawing inspiration from the sights, sounds, and colors of
      Central Park and the chic residential style of a city penthouse. Steps
      from Manhattan’s finest attractions and renowned cultural attractions, the
      253-room Ritz-Carlton New York, Central Park is a Forbes Five-Star and AAA
      Five Diamond Hotel. Featuring the all day gastro lounge Contour, The
      Ritz-Carlton Club® Lounge, and a collection of wellness experiences
      including the first stateside La Prairie Spa and innovative Movement
      Studio, the iconic hotel creates inspiring guest memories with its
      legendary Ritz Carlton service.
    </p>
  </div>

</section>
  <section>
    <div class="main">
        <app-blog></app-blog>
    </div>
    <app-newsletter></app-newsletter>
</section>
