

<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="gallery_photos/pexels-pixabay-262047.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="gallery_photos/pexels-pixabay-277572.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="gallery_photos/pexels-pixabay-261102.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="gallery_photos/pexels-quark-studio-1159039-2507010.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="gallery_photos/pexels-kelly-1179532-2869215.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="gallery_photos/pexels-ken123films-635041.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="gallery_photos/pexels-andreaedavis-2873951.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="gallery_photos/pexels-donaldtong94-189333.jpg" alt="">
        </div>
 
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="gallery_photos/pexels-pixabay-260922.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="gallery_photos/pexels-pixabay-460537.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="gallery_photos/pexels-digitalbuggu-172872.jpg" alt="">
        </div>
    </div>
</div>
